.client-main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* row-gap: 31px; */
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  /* border: 1px solid black; */
  width: 100%;
  height: 16vw;
  display: flex;
  /* justify-content: center; */
}

.client-heading {
  color: #4a4949;
  font-size: clamp(20px, 2.8vw, 40px);
}

.client-img-section {
  margin-top: 2vw;
  width: 81%;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: 1px solid red; */
}

.client-img {
  width: 8.6vw;
  height: 13.42vw;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
