.home-info {
    position: absolute;
    /* bord er: 1px solid black; */
    display: flex;
    flex-direction: column;
    /* height: 395px;
    width: 672px; */
    overflow: hidden;
    left: 51.3%;
    margin-top: 10%;
    justify-content: flex-start;
    /* background-color: #d8521d52; */
    height: 25.8vw;
    width: 41vw;
    overflow: hidden;
}

.home-heading-text {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    /* font-size: 48px; */
    color: #05172A;
    /* background-color: #1d49d8; */
    height: 14vw;
    width: 41vw;
    /* overflow: hidden; */
}

.home-heading-text>span {
    font-size: clamp(8px, 3vw, 48px);
}

.home-info-text {
    display: flex;
    flex-direction: column;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    /* font-size: 16px; */
    color: #808080;
    height: 4.7vw;
    width: 26vw;
    /* border: 1px solid black; */
    /* overflow: hidden; */
}

.home-info-text >span {
    font-size: clamp(4px, 1vw, 16px);
}

.home-btn {
    height: 4vw;
    width: 22vw;
    border-radius: 50px;
    border: none;
    background-color: #EE5C23;
    color: #FFFFFF;
    font-family: "Poppins", sans-serif;
    margin-top: 3.14vw;
    box-shadow: 0 0 2px #EE5C23;
    font-size: clamp(6px, 1.2vw, 15px);
    font-weight: 500;
}

.home-btn:hover {
    background-color: #d8521d;
    cursor: pointer;
}