.wrapper {
  display: flex;
  align-items: center; /* Center content vertically */
  gap: 20px;
  padding: 20px;
}

.textSection {
  flex: 1;
}

.imageSection {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageSection img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 40px;
}

.circle {
  border-radius: 190px;
  background: linear-gradient(180deg, #4361EE 0%, rgba(67, 97, 238, 0) 100%);

}

.MiddleSection-p{
color: #667789;
font-size: 16px;
font-family: Poppins;
font-weight: 400;
font-style: italic;
font-size: 16px;
line-height: 24px;

}