.about-main-div {
    margin-top: 5.25vw;
    display: flex;
    /* justify-content: center; */
    width: 100%;
    /* border: 1px solid red; */
    max-height: 53rem;
    overflow: hidden;
    justify-content: flex-start;
    font-family: "Poppins", sans-serif;
    margin-bottom: 300px;
    /* height: 1200px; */
}

.about-bg-circle {
    position: relative;
    border-radius: 50%;
    /* border: 1px solid red; */
    width: min(54.144vw);
    height: min(54.144vw, 194vh);
    z-index: -5;
    /* top: -670px; */
    left: -25%;
    background: linear-gradient(to right, #94d3e709, #bfcbfd);
}

.about-text {
    position: absolute;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-left: 4%;
    width: 90%;
    /* top: 24%; */
}

.about-heading {
    font-size: clamp(8px, 3vw, 48px);
    font-weight: 600;
    color: #05172A;
}

.profile {
    /* width: 558px;
    height: 555px; */
    display: flex;
    flex-direction: row;
    /* max-width: 100%; */
    /* border: 1px solid greenyellow; */
    margin-top: 1.604vw;
    width: 100%;
}

.about-profile-image {
    height: 37.099vw;
    width: 38.436vw;
    border-radius: 0px 8.021vw 0px 8.021vw;
}

.about-profile-text {
    /* border: 1px solid blue; */
    width: 45%;
    margin-left: 1.671vw;
    display: flex;
    flex-direction: column;
    gap: 1.337vw;
}

.about-profile-heading {
    font-size: clamp(8px, 3vw, 48px);
    color: #023866;
    /* font-family: "Poppins", sans-serif; */
    font-weight: 500;
    margin-top: 3.476vw;
    /* margin: 0; */
}

.about-profile-detail-text {
    font-weight: 400;
    font-size: clamp(6px, 1.1vw, 16px);
}

.about-circle1 {
    position: absolute;
    height: 3.9vw;
    width: 3.9vw;
    background: linear-gradient(to bottom, #a7b4ed, #4361EE00);
    transform: rotate(-30deg);
    border-radius: 50px;
    margin-top: 6%;
    left: 70%;
    z-index: -5;
}

.about-stats {
    position: absolute;
    top: 60vw;
    width: 100%;
    /* border: 1px solid orange; */
    display: flex;
    justify-content: center;
}