.stats-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    border-radius: 2.005vw;
    padding: 1.337vw;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.29);
    /* margin: 40px 0; */
    width: 70.856vw;
    height: 6.684vw;
    align-items: center;
    font-family: "Poppins", sans-serif;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
  }

  .stats-container:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3), 0 12px 24px rgba(0, 0, 0, 0.25);
    transform: translateX(30px) translateY(-10px);
  }
  
  .stat-item {
    text-align: center;
  }
  
  .stat-item div {
    font-size: 2rem;
    font-weight: bold;
    color: #171F35;
    font-size: clamp(8px, 3vw, 48px);
  }