.home-main-div {
    display: flex;
    justify-content: center;
    max-width: 100%;
    /* border: 1px solid red; */
    max-height: 53rem;
    /* background-color: white; */
}

.home-bg-circle {
    position: relative;
    border-radius: 50%;
    /* border: 1px solid red; */
    height: 1440px;
    width: 1440px;
    z-index: -5;
    top: -670px;
    background: linear-gradient(to bottom, #9ce8ffb1, #94d3e709, #bfcbfd);
}

.circle1 {
    position: absolute;
    height: 60px;
    width: 60px;
    background: linear-gradient(to bottom, #4361EE, #4361EE00) ;
    transform: rotate(35deg);
    border-radius: 50px;
    margin-top: 12.5%;
    left: 43%;
    z-index: -5;
}

.circle2 {
    position: absolute;
    height: 100px;
    width: 100px;
    background: linear-gradient(to bottom, #bfcbfd, #94d3e709) ;
    transform: rotate(-35deg);
    border-radius: 50px;
    margin-top: 47.5%;
    left: 9%;
}