.main-nav {
    width: 100%;
    height: 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: white;
    font-family: "Poppins", sans-serif;
    /* background-color: black; */
}

.nav-left-img {
    width: 11vw;
    height: 4.4vw;
    margin-left: 3.61vw;
}

.nav-right-ul {
    display: flex;
    flex-direction: row;
    gap: 0.5vw;
    list-style: none;
    margin-right: 8vw;
}

.nav-right-li { 
    border-radius: 1.337vw;
    height: 3.5vh;
    padding: 0.26vw 1.03vw; /* Adjust padding instead of setting a fixed width */
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap; /* Prevent text from wrapping */
    transition: background-color 0.3s ease-in-out;
}

.nav-right-li:hover {
    background-color: #4361EE4D;
    cursor: pointer;
}
.nav-right-li>a {
    font-weight: 500;
    font-size: clamp(0.6rem, 1.1vw, 1.2rem);
    color: #2B2B2B;
    text-decoration: none;
}